.index {
    background-color: #04001d;
    padding-left: 5%;
    padding-right: 5%;

}

.divheader2{
    display: flex;
    flex-wrap: wrap;
    background-color: #5a96b979;
    max-width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 4px solid black;
    border-radius: 10px;
}

.header1{
    display: flex;
    max-width: 1200px;    
    width: 1150px;
}

.logo2{
    height: 65px;
    padding-right: 10px;
    border-right: 3px solid rgb(252, 251, 251);


}

.listaheaderprincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
    max-width: 1100px;

}    


.listahijaheader1{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-size: 30px;
}

.botonhome{
    text-decoration: none;    
}

.listahijaheader2{
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    font-size: 30px;
}

.listahijaheader3{
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    font-size: 30px;
}

.sectionbanner {
    margin-top: 20px;
    background-color: #92c5e2;

}

.banner {
    width: 1150px;
    height: 400px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative,

}

.h3 {
    top: 220px;
    left: 150px;
    position: absolute;
    font-size: 30px;
}

.footer {
    height: 100px;
    background-color: #539dc9;

}

.listanombres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: space-around;
}

.nombres {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.Peliculasmasvistas {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 390px;
    z-index: 1;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cajaPeliculas {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(91, 133, 172);
    padding: 0px;
    padding-top: 90px;
    padding-bottom: 40px;
    position: relative;
    border: 8px solid #0f2831

}

.Pelicula {
    background-color: #4e5f64;
    padding: 10px;
    border: 3px solid #04001d;
}

.cars {
    width: 200px;
    height: 281.797px;
}

.toystory {
    width: 200px;
    height: 281.797px;

}

.indiana {
    width: 200px;
    height: 281.797px;

}

.elrobo {
    width: 200px;
    height: 281.797px;

}

.titulospelicula {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.seriesmasvistas {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 430px;
    z-index: 1;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


/**ARRANCA PELICULAS o SERIES**/

.bannerprincipal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 10px solid #0f2831;
    width: 1180px;
    position: absolute
}

.peliculaespecifica {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    top: 43px;
    left: 50px;
    border: 5px solid #797777;

}



.tituloprincipal {
    position: absolute;
    left: 495px;
    bottom: 330px;
    font-size: 40px;
    background-color: rgba(128, 128, 128, 0.24);
    padding-right: 660px;

}

.slogan {
    background-color: rgba(128, 128, 128, 0.24);
    padding-right: 456px;
    position: absolute;
    left: 495px;
    bottom: 120px;
    font-style: italic;

}

.divtitulo {
    background-color: gray;
}

.datospelicula {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #4e5f64;
    padding-top: 60px;
    margin-top: 10px;
    max-width: 1200px;

}

.listadatos {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    text-align: left;
    flex-direction: column;
    list-style: none;



}

.fechadeestreno {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    text-align: right;
    padding-left: 850px;
    list-style: none;
}

.descripcionpelicula {
    padding-left: 40px;

}

.divdeagregar {
    background-color: #4e5f64;
    max-width: 1200px;

}

.listadeagregar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 20px;
}

.listashijasdeagregado {
    background-color: #797777;
    border: 3px solid #0a0a0a;
    text-decoration: none;
}

.conteinermain {
    display: flex;
    justify-content: center;
    align-items: center;

}

.conteinerheader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #539dc9;
    max-width: 1200px;
}

/**ARRANCA GENEROS**/

.bannergeneros {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 1150px;
    height: 400px;
    border: 25px solid #4e5f64;
    position: relative;
    border-radius: 20px;

}

.Generostitulos {
    display: flex;
    flex-wrap: wrap;
    font-size: 45px;
    position: absolute;
    bottom: 365px;
    left: 300px;

}

.listagenerospeliculas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 140px;
    justify-content: space-around;
    list-style: none;
    background-color: #4e5f64;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.listageneros1 {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #ffff;
    padding-left: 0px;

}

.listageneros2 {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    text-decoration: none;

}

.listageneros3 {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;

}

.Generounico {
    padding-right: 70px;
    background-color: #539dc9;
    margin: 10px;
    list-style: none;
    border-radius: 3px;
    text-decoration: none;
    padding-left: 47px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid #0f2831;
}

.titulopeliculageneros {
    background-color: #4e5f64;
    padding-bottom: 20px;
    margin-top: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    top: 550px;
    width: 1200px;
    text-align: center;
    font-size: 30px;
    border-bottom: 3px solid #04001d;
}



.tituloseriegeneros {
    background-color: #4e5f64;
    padding-bottom: 20px;
    margin-top: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    top: 1200px;
    width: 1200px;
    text-align: center;
    font-size: 30px;
    border-bottom: 3px solid #04001d;
}

/**ARRANCA GENEROPELICULA**/

.tituloaccion {
    font-size: 40px;

}

.accionlistacontenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 0px;
    background-color: rgb(43, 43, 66);
    padding: 40px;


}

.accionfila {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
    padding-left: 0px;
    text-align: center;
    text-decoration: none;


}

.carteleraaccion {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #539dc9;
    width: 193px;
    height: 275px;
}

.divpelicula {
    display: flex;
    flex-wrap: wrap;
    background-color: #4e5f64;
    padding: 40px;
    padding-bottom: 40px;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    border: 3px solid #539dc9;


}

.tituloscartelera {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    text-align: center;
    text-decoration: noen;

}