.index{
    background-color: #594433;

}

.header{
    margin: 0px;
    border: 0px;
    background-color:#a68c69;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height:65px ;
    justify-content: space-between;
    padding-top: 0px1;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    width: 90px;
    flex-direction: row;
    padding-left: 40px;

}
.sectionlogo{

}
.listahija{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

.listaprincipal{
display: flex;
flex-wrap: wrap;
flex-direction: row;
list-style: none;

}

.sectionlistaprincipal{
    padding-right: 38%;
}
